<div id='content'></div>
<%= javascript_pack_tag 'workspace' %>
<%= stylesheet_link_tag 'scss/workspace', :media => 'all' %>
<%= stylesheet_link_tag 'scss/workspace_pop', :media => 'all' %>
<%= stylesheet_link_tag 'scss/workspace_side', :media => 'all' %>
<%= stylesheet_link_tag 'scss/workspace_main', :media => 'all' %>
